<app-navbar></app-navbar>
<div class="container p-4 ps-md-0 pe-md-0 pt-md-5 pb-md-5 text-white">
    <div class="d-lg-flex justify-content-lg-between align-items-lg-center gap-3 products__search__container">
        <div class="products__greetings">
            <h1 class="mb-2">{{ headerName }} Station</h1>
            <p>Find all products in your chosen category or store here.</p>
        </div>
        <div class="products__search">
            <h5 class="text-start mt-4 mb-3 mt-lg-0">Search</h5>
            <input [formControl]="search" [(ngModel)]="term" class="w-100" type="text" placeholder="{{ randomitem.product_name }} ...">
        </div>
    </div>
    <h2 class="mt-4 mb-4 mt-md-5 mb-md-5">Products</h2>
    <ng-container *ngIf="(dt | filter:search.value) as result">
        <div class="emptyresult__container" *ngIf="result.length === 0">
            <img src="../../../assets/images/no-results-found.svg">
            <h5 class="mt-4">No product found.</h5>
        </div>
    </ng-container>
    <div class="products__grid">
        <div *ngFor="let product of dt | filter:term " class="product" (click)="viewProduct(product.product_id)">
            <img class="w-100 bg-light" src="{{ product.product_image }}" alt="">
            <div class="product__details p-3">
                <p>{{ product.product_name }}</p>
                <p class="product__price">₱ {{ product.product_price }}</p>
            </div>
            <button class="button mt-3" (click)="addToCart(product.product_id)">
                <span class="button-content"><i class="fa-solid fa-cart-plus"></i></span>
            </button>
        </div>
    </div>
    <ng-container>
        <button *ngIf="isShow" (click)="gotoTop()" class="scroll-top--btn">
            <i class="fa-solid fa-chevron-up"></i>
        </button>
    </ng-container>
</div>
