<app-navbar></app-navbar>
<div class="container p-4 ps-md-0 pe-md-0 pt-md-5 pb-md-5 text-white">
    <div class="d-lg-flex justify-content-lg-between align-items-lg-center gap-3 products__search__container">
        <div class="products__greetings">
            <h1 class="mb-2">Category Name Station</h1>
            <p>Find all products in your chosen category here.</p>
        </div>
        <div class="products__search">
            <h5 class="text-start mt-4 mb-3 mt-lg-0">Search</h5>
            <input class="w-100" type="text" placeholder="Hotdog, Chicken, Beef ..." required>
        </div>
    </div>
    <h2 class="mt-4 mb-4 mt-md-5 mb-md-5">Products</h2>
    <div class="products__grid">
        <div class="product">
            <img src="../../../assets/images/511462_d09fb558-ede2-4fc3-b580-1dbd8b4d02e7_508x508.webp" alt="">
            <div class="product__details p-3">
                <p>Argentina Bacon Liempo</p>
                <p class="product__price">₱ 199</p>
            </div>
            <button class="button mt-3">
                <span class="button-content"><i class="fa-solid fa-cart-plus"></i></span>
            </button>
        </div>
        <div class="product">
            <img src="../../../assets/images/511462_d09fb558-ede2-4fc3-b580-1dbd8b4d02e7_508x508.webp" alt="">
            <div class="product__details p-3">
                <p>Argentina Bacon Liempo</p>
                <p class="product__price">₱ 199</p>
            </div>
            <button class="button mt-3">
                <span class="button-content"><i class="fa-solid fa-cart-plus"></i></span>
            </button>
        </div>
        <div class="product">
            <img src="../../../assets/images/511462_d09fb558-ede2-4fc3-b580-1dbd8b4d02e7_508x508.webp" alt="">
            <div class="product__details p-3">
                <p>Argentina Bacon Liempo</p>
                <p class="product__price">₱ 199</p>
            </div>
            <button class="button mt-3">
                <span class="button-content"><i class="fa-solid fa-cart-plus"></i></span>
            </button>
        </div>
    </div>
</div>
