<nav class="navbar navbar-expand-sm navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">
        <img src="https://i.ibb.co/jk6RMrs/templogo.png" alt="templogo" border="0">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <div class="navbar-nav ms-auto">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">Home</a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link" href="javascript:void(0)">Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="javascript:void(0)">Cart</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="javascript:void(0)">Orders</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="javascript:void(0)">Logout</a>
                </li>
              </ul>
        </div>
      </div>
    </div>
</nav>

