// Mobile Styles
.login__grid {
    height: 100%;
}
.login__image {
    display: none;
}
.login__form__container {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: var(--clr-whitelight);
    h1 {
       font-size: clamp(3em, 5vw, 4em);
       font-weight: 700; 
    }
    .login__form__input {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 3rem;
        button {
            padding: 0.625rem 2rem;
            border-radius: 6.25rem;
            background-color: var(--clr-forestgreen);
            font-weight: 700;
            letter-spacing: 1px;
            text-transform: uppercase;
            transition: all .3s;
            text-align: center;
            &:hover {
                background-color: var(--clr-overgrowntemple);
            }
        }
        input {
            padding: 0.75rem 1.25rem;
            border: 2px solid var(--clr-dynamicblack);
            background-color: var(--clr-dynamicblack);
            border-radius: 6.25rem;
            transition: all .3s;
            &:hover {
                border: 2px solid var(--clr-whitelight);
            }
            &:focus-visible {
                border: 2px solid var(--clr-whitelight);
            }
        }
        ::placeholder {
            color: var(--clr-gray);
        }
        .login__form__input__label {
            text-align: left;
        }
        p {
            text-align: center;
        }
        .form-check-input {
            padding: 0.625rem;
            &:focus {
                border: 2px solid #FFF !important;
                box-shadow: none;
            }
        }
        a {
            color: var(--clr-whitelight);
            transition: all .3s;
        }
        a:hover {
            color: var(--clr-forestgreen);
        }
        .login__form__errormsg {
            color: var(--clr-enticingred);
            font-size: 0.875rem;
        }
    }
}
// End of Mobile Styles
// Tablet and Desktop Styles
@media screen and (min-width: 768px) {
.login__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.login__image {
    background-image: url("../../assets/images/login-graphic.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: block;
    img {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        padding: 1rem;
    }
}
.login__form__container {
    background-image: none;
    color: #FFF;
    .login__form__subtitle {
        font-size: 1.5em;
    }
    .login__form {
        background: none;
        border-radius: 0;
        box-shadow: none;
        backdrop-filter: 0;
        -webkit-backdrop-filter: 0;
        border: 0;
        padding: 1rem;
    }
    .login__form__input {
        button {
            width: 70%;
            margin: 0 auto;
        }
    }
}
}
// End of Tablet and Desktop Styles
