<div class="login__grid">
    <div class="login__image">
        <img src="https://i.ibb.co/jk6RMrs/templogo.png" alt="templogo" border="0">
    </div>
    <div class="login__form__container">
        <div class="login__form">
            <h1>Welcome back</h1>
            <p class="login__form__subtitle">Your convenience starts here</p>
            <div class="login__form__input">
                <p class="login__form__input__label">Username</p>
                <input type="text" placeholder="Enter your username here" required>
                <p class="login__form__input__label">Password</p>
                <input type="password" placeholder="Enter your password here" required>
                <button class="button">
                    <span class="button-content">Login</span>
                </button>
                <p>Don't have an account? <a href="">Sign up for free</a></p>
            </div>
        </div>
    </div>
</div>
