<div class="login__grid">
    <div class="login__image">
        <img src="https://i.ibb.co/jk6RMrs/templogo.png" alt="templogo" border="0">
    </div>
    <div class="login__form__container">
        <div class="login__form">
            <h1>Welcome back</h1>
            <p class="login__form__subtitle">Your convenience starts here</p>
            <form class="login__form__input" [formGroup]="loginForm" novalidate>
                <p class="login__form__input__label">Username</p>
                <input formControlName="acc_username" [(ngModel)]="acc_username" type="text" placeholder="Enter your username here" required>
                <div class="alert alert-danger" *ngIf="isSubmitted && f.acc_username.errors?.['required']">
                    You have to enter your username.
                </div>
                <p class="login__form__input__label">Password</p>
                <input formControlName="acc_password" [(ngModel)]="acc_password" [type]="fieldTextType ? 'text' : 'password'" placeholder="Enter your password here" required>
                <div class="alert alert-danger" *ngIf="isSubmitted && f.acc_password.errors?.['required']">
                    You have to enter your password.
                </div>
                <div class="d-flex gap-3 align-items-center">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" (click)="toggleFieldTextType()">
                    <label class="form-check-label" for="flexCheckDefault">
                        Show password
                    </label>
                </div>
                <button class="button" (click)="login()">
                    <span class="button-content">Login</span>
                </button>
                <p>Don't have an account? <a routerLink="/register">Sign up for free</a></p>
            </form>
        </div>
    </div>
</div>
