.featured__container, .tip__container {
    background-color: #1e1e1e;
    border-radius: 8px;
    position: relative;
    .product__price {
        position: absolute;
        bottom: 16px;
        right: 10px;
        padding: 4px 24px;
        background-color: #121212;
        border-radius: 100px;
        width: fit-content;
        font-size: 18px;
        opacity: 0.8;
    }
    img {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        aspect-ratio: 4 / 3;
    }
}
.category {
    background-color: #1e1e1e;
    border-radius: 8px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all .3s;
    &:hover {
        border: 2px solid gray;
    }
}
.category__grid, .store__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.category__name {
    font-size: clamp(16px, 2.5vw, 24px);
}
.category__description {
    display: none;
}
button {
    padding: 10px 20px;
    background-color: forestgreen;
    border-radius: 8px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all .3s;
    &:hover {
        background-color: #186118;
    }
}
.circular {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 0;
}
.tip__container {
    display: none;
}
@media only screen and (min-width: 768px) {
    .category__grid, .store__grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
    .category {
        position: relative;
    }
    .category__image {
        max-width: 100px;
        position: absolute;
        bottom: -20px;
        right: -10px;
    }
    .category__name {
        font-weight: 700;
    }
    .category__description {
        display: block;
    }
}
@media only screen and (min-width: 1025px) {
    .category__grid {
        grid-template-columns: repeat(5, 1fr);
    }
    .store__grid {
        grid-template-columns: repeat(4, 1fr);
    }
    .featured__container, .tip__container {
        max-width: 50%;
    }
    .tip__container {
        display: flex;
    }
}