.featured__container, .tip__container {
    background-color: var(--clr-dynamicblack);
    border-radius: 0.5rem;
    position: relative;
    .product__price {
        position: absolute;
        bottom: 1rem;
        right: 0.625rem;
        padding: 0.25rem 1.5rem;
        background-color: #121212;
        border-radius: 100px;
        width: fit-content;
        font-size: 1.125em;
        opacity: 0.8;
    }
    img {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        aspect-ratio: 4 / 3;
    }
}
.category {
    background-color: var(--clr-dynamicblack);
    border-radius: 8px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all .3s;
    &:hover {
        border: 2px solid var(--clr-gray);
    }
}
.category__grid, .store__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.category__name {
    font-size: clamp(1em, 2.5vw, 1.5em);
}
.category__description {
    display: none;
}
button {
    padding: 0.625rem 1.25rem;
    background-color: var(--clr-forestgreen);
    border-radius: 8px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all .3s;
    &:hover {
        background-color: var(--clr-overgrowntemple);
    }
}
.circular {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 0;
}
.tip__container {
    display: none;
}
@media only screen and (min-width: 768px) {
    .category__grid, .store__grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
    .category {
        position: relative;
    }
    .category__image {
        max-width: 100px;
        position: absolute;
        bottom: -20px;
        right: -10px;
    }
    .category__name {
        font-weight: 700;
    }
    .category__description {
        display: block;
    }
}
@media only screen and (min-width: 1025px) {
    .category__grid {
        grid-template-columns: repeat(5, 1fr);
    }
    .store__grid {
        grid-template-columns: repeat(4, 1fr);
    }
    .featured__container, .tip__container {
        max-width: 50%;
    }
    .tip__container {
        display: flex;
    }
}