<!-- The Modal -->
<div class="modal fade" id="editPasswordModal">
    <div class="modal-dialog modal-sm modal-dialog-centered">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Update Password</h4>
          <p class="mt-1">Feeling refreshed? Apply changes to your current password here.</p>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body" [formGroup]="updatePasswordForm">
            <p class="login__form__input__label mb-3">Password</p>
            <input formControlName="acc_password" [(ngModel)]="acc_password" type="password" placeholder="Enter your password here" required>
            <p class="login__form__errormsg mt-3" *ngIf="isSubmitted && f.acc_password.errors?.['required']">
              This field is required.
            </p>
            <p class="login__form__errormsg mt-3" *ngIf="isSubmitted && f.acc_password.errors?.['minlength']">
              Your password should be at least 8 characters long.
            </p>
            <p class="login__form__input__label mt-3 mb-3">Confirm Password</p>
            <input formControlName="acc_confirmpassword" [(ngModel)]="acc_confirmpassword" type="password" placeholder="Enter your password again" required>
            <p class="login__form__errormsg mt-3" *ngIf="isSubmitted && f.acc_confirmpassword.errors?.['required']">
              This field is required.
            </p>
            <p class="login__form__errormsg mt-3" *ngIf="isSubmitted && f.acc_confirmpassword.errors?.['minlength']">
              Your password should be at least 8 characters long.
            </p>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button class="danger--btn" type="button" data-bs-dismiss="modal">Close</button>
          <button type="button" (click)="submitForm()">Save Changes</button>
        </div>
  
      </div>
    </div>
</div>