<!-- Call Navbar component -->
<app-navbar *ngIf="_router.url != '/login' && _router.url != '/products'"></app-navbar>
<!-- End of call navbar component -->
<!-- Home section -->
<section class="container p-4 ps-md-0 pe-md-0 pt-md-5 pb-md-5 text-white" *ngIf="_router.url != '/login' && _router.url != '/products'">
    <div class="d-flex gap-3 align-items-center justify-content-between">
        <div class="home__greetings__container">
            <h1 class="mb-2">Hello, rappyboi</h1>
            <p>What would you like to buy for today?</p>
        </div>
        <button class="button circular d-lg-none">
            <span class="button-content"><i class="fa-solid fa-cart-shopping"></i></span>
        </button>
    </div>
    <div class="d-lg-flex gap-3 mt-4 mt-lg-5">
        <div class="row featured__container">
            <div class="col-8 p-3 d-md-flex flex-md-column justify-content-md-between">
                <div>
                    <h3>Featured Product</h3>
                    <p class="mt-2">Lorem ipsum dolor sit amet</p>
                </div>
                <div>
                    <button class="button mt-3">
                        <span class="button-content">Add to Cart</span>
                    </button>
                </div>
            </div>
            <div class="col-4">
                <img class="h-100" src="../assets/images/511462_d09fb558-ede2-4fc3-b580-1dbd8b4d02e7_508x508.webp" alt="">
            </div>
        </div>
        <div class="row tip__container mt-4 mt-lg-0">
            <div class="col-8 p-3 d-md-flex flex-md-column justify-content-md-between">
                <div>
                    <h3>Go-Tip!</h3>
                    <p class="mt-2">
                        Click on the "Add to Cart" button you see on a product to make it officially added 
                        into your cart which you can checkout immediately or check back on later.
                    </p>
                </div>
                <div>
                    <button class="button mt-3">
                        <span class="button-content">View Cart</span>
                    </button>
                </div>
            </div>
            <div class="col-4 p-3">
                <img class="h-100" src="../assets/images/Shopping cart_Monochromatic.svg" alt="">
            </div>
        </div>
    </div>
    <h1 class="mt-4 mb-4 mt-md-5 mb-md-5">Browse by Category</h1>
    <div class="category__grid">
        <div class="p-3 category text-center" *ngFor="let category of categories;" (click)="categoryClick(category.name)">
            <img class="category__image" src="../assets/images/{{ category.icon_name }}.png" alt="{{ category.alt }}">
            <p class="mt-3 mt-md-0 text-start category__name">{{ category.name }}</p>
            <p class="mt-1 mb-md-5 text-start category__description">{{ category.description }}</p>
        </div>
    </div>
    <h1 class="mt-4 mb-4 mt-md-5 mb-md-5">Browse by Store</h1>
    <div class="store__grid">
        <div class="p-3 category text-center" *ngFor="let store of stores;">
            <img src="../assets/images/grocery-store.png" alt="Grocery store icon">
            <p class="mt-3 text-start category__name">{{ store.name }}</p>
        </div>
    </div>
</section>
<router-outlet></router-outlet>
