.modal-content {
    background-color: #1e1e1e;
    color: #FFF;
}
.modal-header {
    display: block;
}
input {
    padding: 12px 20px;
    border-radius: 100px;
    width: 100%;
    border: 2px solid #121212 !important;
    background-color: #121212;
    transition: all .3s;
}
input:hover {
    border: 2px solid #FFF !important;
}
input:focus-visible {
    border: 2px solid #FFF !important;
}
::placeholder {
    color: gray;
}
button {
    padding: 10px 16px;
    background-color: forestgreen;
    border-radius: 8px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all .3s;
    text-align: center;
    &:hover {
        background-color: #186118;
    }
}
.danger--btn {
    background-color: transparent;
    border: 2px solid crimson;
    color: #c26666;
    &:hover {
        background-color: crimson;
        color: #FFF;
    }
}
.form-select {
    padding: 12px 20px;
    color: #FFF;
    background-color: #121212;
    border: none;
    border-radius: 100px;
    width: 100%;
    border: 2px solid #121212 !important;
    transition: all .3s;
    &:focus {
        border: 2px solid #FFF !important;
        box-shadow: none;
    }
}
