<!-- The Modal -->
<div class="modal fade" id="editAddressModal">
    <div class="modal-dialog modal-sm modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Update Address</h4>
          <p class="mt-1">Moved in to a new location? Apply changes to your current address here.</p>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body" [formGroup]="updateAddressForm">
            <p class="login__form__input__label mb-3">House Number</p>
            <input formControlName="acc_no" [(ngModel)]="acc_no" type="text" placeholder="Enter house number here" required>
            <p class="login__form__errormsg mt-3" *ngIf="isSubmitted && f.acc_no.errors?.['required']">
              You have to enter your house number.
            </p>
            <p class="login__form__input__label mt-3 mb-3">Street</p>
            <input formControlName="acc_street" [(ngModel)]="acc_street" type="text" placeholder="Enter street name here">
            <p class="login__form__errormsg mt-3" *ngIf="isSubmitted && f.acc_street.errors?.['required']">
              You have to enter your street name.
            </p>
            <p class="login__form__input__label mt-3 mb-3">Barangay</p>
            <select formControlName="acc_barangay" [(ngModel)]="acc_barangay" class="form-select" required>
                <option disabled selected value="Barangay">Choose Barangay</option>
                <option value="Asinan">Asinan</option>
                <option value="Banicain">Banicain</option>
                <option value="Barretto">Barretto</option>
                <option value="East Bajac-Bajac">East Bajac-Bajac</option>
                <option value="East Tapinac">East Tapinac</option>
                <option value="Gordon Heights">Gordon Heights</option>
                <option value="Kalaklan">Kalaklan</option>
                <option value="Mabayuan">Mabayuan</option>
                <option value="New CabalanN">New Cabalan</option>
                <option value="New Ilalim">New Ilalim</option>
                <option value="New Kababae">New Kababae</option>
                <option value="Old Cabalan">Old Cabalan</option>
                <option value="Pag-asa">Pag-asa</option>
                <option value="Santa Rita">Santa Rita</option>
                <option value="West Bajac-Bajac">West Bajac-Bajac</option>
                <option value="West Tapinac">West Tapinac</option>
            </select>
            <p class="login__form__errormsg mt-3" *ngIf="isSubmitted && f.acc_barangay.errors?.['required']">
              You have to choose your barangay.
            </p>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button class="danger--btn" type="button" data-bs-dismiss="modal">Close</button>
          <button type="button" (click)="submitForm()">Save Changes</button>
        </div>
  
      </div>
    </div>
</div>