.order__illustration__container {
    background-color: var(--clr-dynamicblack);
    border-radius: 8px;
    img {
        display: none;
    }
}
.order {
    background-color: var(--clr-dynamicblack);
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    transition: all .3s;
    border: 2px solid transparent;
    &:hover {
        border: 2px solid var(--clr-gray);
    }
}
.status {
    position: absolute;
    bottom: -20px;
    right: -15px;
    padding: 0.25rem 1rem;
    border-radius: 100px;
    width: fit-content;
    font-weight: 700;
    text-transform: uppercase;
}
.pending {
    background-color: hsl(35, 94%, 65%);
    color: hsl(35, 95%, 25%);
}
.for-delivery {
    background-color: hsl(50, 72%, 62%);
    color: hsl(49, 85%, 23%);
}
.delivered {
    background-color: hsl(120, 31%, 54%);
    color: hsl(120, 61%, 17%);
}
.cancelled {
    background-color: hsl(0, 43%, 51%);
    color: hsl(0, 100%, 15%);
}
.emptyorders__container {
    img {
        max-width: 75%;
    }
    h5, p, img {
        opacity: 0.5;
    }
}
@media screen and (min-width: 768px) {
    .order__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }
    .emptyorders__container {
        img {
            max-width: 50%;
        }
    }
}
@media screen and (min-width: 1025px) {
    .order__grid {
        grid-template-columns: repeat(4, 1fr);
    }
    .order__illustration__container {
        display: grid;
        grid-template-columns: 3fr 1fr;
        img {
            display: block;
            margin: 0 auto;
        }
    }
    .emptyorders__container {
        img {
            max-width: 25%;
        }
    }
}