<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Product Description</h4>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body p-0">
          <img class="ratio ratio-1x1" src="../../../assets/images/511462_d09fb558-ede2-4fc3-b580-1dbd8b4d02e7_508x508.webp" alt="">
          <div class="p-3">
            <p>A young pilchard or other young or small herring-like fish.</p>
          </div>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
  </div>