// Mobile Styles
.login__grid {
    height: 100%;
}
.login__image {
    display: none;
}
.login__form__container {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: var(--clr-whitelight);
    h1 {
       font-size: 3em;
       font-weight: 700; 
    }
    .login__form {
        padding: 1.5rem;
    }
    .login__form__input {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        button {
            padding: 0.625rem 2rem;
            background-color: var(--clr-forestgreen);
            border-radius: 100px;
            font-weight: 700;
            letter-spacing: 1px;
            text-transform: uppercase;
            transition: all .3s;
            text-align: center;
            width: 100%;
            &:hover {
                background-color: var(--clr-overgrowntemple);
            }
        }
        .cancel--btn {
            background-color: transparent;
            border: 2px solid var(--clr-crimson);
            color: var(--clr-stormypassion);
            &:hover {
                background-color: var(--clr-crimson);
                color: var(--clr-whitelight);
            }
        }
        input {
            padding: 0.75rem 1.25rem;
            background-color: var(--clr-dynamicblack);
            border-radius: 100px;
            width: 100%;
        }
        .login__form__input__label {
            text-align: left;
        }
        p {
            text-align: center;
        }
        ::placeholder {
            color: var(--clr-gray);
        }
    }
}
.form-select {
    padding: 0.75rem 1.25rem;
    color: var(--clr-whitelight);
    background-color: var(--clr-dynamicblack);
    border: none;
    border-radius: 100px;
    width: 100%;
    border: 2px solid var(--clr-dynamicblack) !important;
    transition: all .3s;
    &:focus {
        border: 2px solid var(--clr-whitelight) !important;
        box-shadow: none;
    }
}
// End of Mobile Styles
// Tablet and Desktop Styles
@media screen and (min-width: 768px) {
.login__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.login__image {
    background-image: url("../../../assets/images/otp-illustration.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: block;
    background-color: var(--clr-dynamicblack);
    img {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        padding: 1rem;
    }
}
.login__form__container {
    background-image: none;
    background-color: var(--clr-darktoneink);
    color: var(--clr-whitelight);
    overflow-y: scroll;
    h1 {
        font-size: 4em;
    }
    .login__form__subtitle {
        font-size: 1.5em;
        max-width: 40ch;
    }
    .login__form {
        background: none;
        border-radius: 0;
        box-shadow: none;
        backdrop-filter: 0;
        -webkit-backdrop-filter: 0;
        border: 0;
        padding: 3rem 1.5rem 1.5rem 1.5rem;
    }
    .login__form__input {
        button {
            width: 50%;  
        }
        a {
            color: #FFF;
            transition: all .3s;
        }
        a:hover {
            color: var(--clr-forestgreen);
        }
    }
    input {
        max-width: 50%;
        border: 2px solid var(--clr-dynamicblack) !important;
        background-color: var(--clr-dynamicblack);
        transition: all .3s;
    }
    input:hover {
        border: 2px solid var(--clr-whitelight) !important;
    }
    input:focus-visible {
        border: 2px solid var(--clr-whitelight) !important;
    }
}
.input__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--clr-gray);
}
}
// End of Tablet and Desktop Styles
