<app-navbar></app-navbar>
<app-edit-name></app-edit-name>
<app-edit-address></app-edit-address>
<app-edit-contact></app-edit-contact>
<app-edit-password></app-edit-password>
<div class="container p-4 ps-md-0 pe-md-0 pt-md-5 pb-md-5 text-white">
    <div class="editprofile__illustration__container">
        <div class="p-4 p-lg-5">
            <h1 class="mb-2">Update Profile</h1>
            <p>Choose from the options below which part of your profile you want to update.</p>
        </div>
        <div class="order__illustration p-lg-3">
            <img src="../../../../assets/images/form-1.png" alt="">
        </div>
    </div>
    <div class="mt-4 editprofile__grid">
        <div class="editprofile__tile p-3 p-lg-4" data-bs-toggle="modal" data-bs-target="#editNameModal">
            <img src="../../../../assets/images/update-name.svg" alt="">
            <h5 class="mt-3">Update Name</h5>
        </div>
        <div class="editprofile__tile p-3 p-lg-4" data-bs-toggle="modal" data-bs-target="#editAddressModal">
            <img src="../../../../assets/images/update-address.svg" alt="">
            <h5 class="mt-3">Update Address</h5>
        </div>
        <div class="editprofile__tile p-3 p-lg-4" data-bs-toggle="modal" data-bs-target="#editContactModal">
            <img src="../../../../assets/images/update-contact.svg" alt="">
            <h5 class="mt-3">Update Contact</h5>
        </div>
        <div class="editprofile__tile p-3 p-lg-4" data-bs-toggle="modal" data-bs-target="#editPasswordModal">
            <img src="../../../../assets/images/update-password.svg" alt="">
            <h5 class="mt-3">Update Password</h5>
        </div>
    </div>
</div>
<app-footer></app-footer>
