.modal-header {
    display: block;
}
.modal-content {
    background-color: var(--clr-dynamicblack);
    color: var(--clr-whitelight);
}
.checkout__greetings__container {
    background-color: var(--clr-dynamicblack);
    padding: 2rem;
    border-radius: 8px;
}
.information__grid__item, .container--dark {
    background-color: var(--clr-dynamicblack);
    border-radius: 8px;
}
.information__grid__item {
    img {
        max-width: 60px;
    }
}
button {
    padding: 0.625rem 2rem;
    width: 100%;
    background-color: var(--clr-forestgreen);
    border-radius: 8px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all .3s;
    text-align: center;
    &:hover {
        background-color: var(--clr-overgrowntemple);
    }
}
@media screen and (min-width: 768px) {
    .information__grid {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(3, 1fr);
    }
    button {
        width: fit-content;
    }
}